<ion-header>
  <ion-toolbar>
    <ion-title>profs de la {{ this.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item >
          <ion-label> <strong> Nom</strong> </ion-label>
          <ion-label> <strong> Prénom</strong> </ion-label>
        </ion-item>
    <ion-item *ngFor="let item of users">
      <ion-label>{{item.firstName}}</ion-label>
      <ion-label>{{item.lastName}}</ion-label>
    </ion-item>
  </ion-list>
 
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
