<ion-header>
  <ion-toolbar>
    <ion-title>idea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "row center">
    <div class="form-group col-sm-4">
        <label for="start" class="control-label col-sm-6">idea par mois:</label>
    </div>
    <div class="col-sm-4">
        <input (change)="onDateSelectedMonth()" [(ngModel)] = "dateSelectedMonth" type="date" id="start"          
            >
    </div>
    </div>
    <a (click)="openNew()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> add</a>
    
    <div class="span8">
        <div class ="idea" *ngFor="let idea of ideas; let i = index" >
            <h1>{{ idea.title }}</h1>
            <p>{{ idea.note }}</p>
            <div>
                <span class="badge badge-success">Publiée {{ toDate(idea.createdAt) }}</span>
                &nbsp;<span class="badge badge-success">Vote: {{ idea.vote }}</span> 
                <!--<div class="pull-right"><span class="label">alice</span> <span class="label">story</span> <span class="label">blog</span> <span class="label">personal</span>
                </div>-->
            </div>
            <span *ngIf = "ideasByUserId.includes(idea.id)" class="badge badge-success pull-right">Déja aimé</span>
            <a (click)="updateVote(idea)" *ngIf = "!ideasByUserId.includes(idea.id)" class="btn btn-sm btn-info pull-right"><span class="glyphicon glyphicon-plus"></span> j'aime</a>
            <hr>
        </div>
    </div>
    <div class="text-center"> 
        <ul *ngIf="totalPages" class="pagination">
            <li [ngClass]="{disabled:currentPage ===0}">
                <a  (click)="setPage(0)">{{ 'userList.first' | translate }}t</a>
            </li>
            <li [ngClass]="{disabled:0 >= currentPage}">
                <a (click)="setPage(currentPage - 1)">{{ 'userList.previous' | translate }}</a>
            </li>
            <li *ngFor="let page of TabReturn(pageView); let i = index" [ngClass]="{active:currentPage === page}">
                <a (click)="setPage(i)">{{i}}</a>
            </li>
            <li [ngClass]="{disabled:currentPage === totalPages-1}">
                <a (click)="setPage(currentPage + 1)">{{ 'userList.next' | translate }}</a>
            </li>
            <li [ngClass]="{disabled:currentPage === totalPages-1}">
                <a (click)="setPage(totalPages-1)">{{ 'userList.last' | translate }}</a>
            </li>
        </ul>  
    </div>
</ion-content>
