<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div *ngIf="user != undefined">
      Welcome {{ user["firstName"]  }} {{ user["lastName"]  }}
    </div>  
<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-list>
    <ion-item *ngFor="let item of subjects">
      <ion-label>{{item.title}}</ion-label>
      <ion-label>{{item.description}}</ion-label>
      <ion-button  [routerLink]="['/','subject',item.id,'prof']" expand="block">
        prof
      </ion-button>
    </ion-item>
  </ion-list>
 
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
  
</ion-content>