<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Range
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label>Matiére:</ion-label>
    <ion-label *ngIf="selectedSubject" >{{ selectedSubject.title }}</ion-label>
    <ionic-selectable [(ngModel)]="selectedSubject" (ngModelChange)="onOptionsSelected()" [items]="subjects" itemValueField="id" itemTextField="name">
    </ionic-selectable>
  </ion-item>
<h2 *ngIf=" selectedSubject" >Date</h2>
<ion-item *ngIf=" selectedSubject">
  <ion-label floating>Date</ion-label>
    <ion-datetime [(ngModel)]="dateSelectedMonth"   displayFormat="DD/MMMM/YYYY" min="2010" max="2050-10-31" (ionChange)="onDateSelectedMonth()"> 
  </ion-datetime>
</ion-item>

<div style="margin-top: 25px;" *ngIf="selectedDate"> 
  <div *ngFor="let commingDate of upcomingDates">
    <p>{{commingDate.time }} : {{commingDate.date | date}}</p>
  </div>
</div>
<ion-list *ngIf="dateSelectedMonth">
  <ion-item >
    <ion-label> <strong> Nom</strong> </ion-label>
    <ion-label> <strong> Range</strong> </ion-label>
    <ion-label> <strong> Moyenne</strong> </ion-label>
  </ion-item>
  <ion-item *ngFor="let item of ranksEtudiants">
    <ion-label>{{item.etudiant.firstName}}</ion-label>
    <ion-label>{{item.rank}}</ion-label>
    <ion-label>{{item.moy}}</ion-label>
  </ion-item>
</ion-list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
<ion-infinite-scroll-content
  loadingSpinner="bubbles"
  loadingText="Loading more data...">
</ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
